* {
    box-sizing: border-box;
}

body {
    font-family: Verdana;
}

a {
    text-decoration: none;
    font-weight: 700;
}

div {
    width: fit-content;
    margin: 20px 0 20px 0;
    font-size: 1.2rem;
    padding: 1rem;
}

.danger {
    background-color: rgb(255,0,0,0.15);
    border-left: 8px solid rgb(255,0,0);
}

.success {
    background-color: rgb(0,255,0,0.15);
    border-left: 8px solid rgb(0,255,0);
}

.info {
    background-color: rgb(0,0,255,0.15);
    border-left: 8px solid rgb(0,0,255);
}

.warning {
    background-color: rgb(255,250,200,0.75);
    border-left: 8px solid rgb(242, 235, 18);
}

.warning img {
    position: relative;
    bottom: 90px;
    left: 100%;
}